@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} 
body{
    background-color:white;
    font-family:"TT Lakes", sans-serif;
    width: 320px;
    height:100%;
    margin:0px;
    position:fixed;
    box-shadow: 20px 0 15px -5px rgba(0, 0, 0, 0.2);
}
.header{
    display: flex;
    align-items: center;
    padding:23px;
}.header_icon, .icon{
    cursor: pointer;
    width:40px;
}
.header_icon:first-child{
    margin-right:24px;
}
.header_logo{
    width:97px;
    margin-right: auto;
}
.container_menu{
    display:flex;
    flex-direction: column;
    gap: 32px;
    padding:0px;
    margin-bottom: 276px;
}
.container_menu__item{
    font-weight: 500;
    cursor: pointer;
    margin:0 24px;
    display: flex;
    position: relative;
    gap:8px;
    align-items: center;
}
.container_menu__item:first-child{
    margin:0px;
    gap: 20px;
    align-items: center;
    color:#7E7E82;
}
.container_menu__divider{
    height: 32px;
    padding:0px;

}
.container_menu__item:hover{
    color:#7E7E82;
}
.icon{
    padding-left:16px;
}
.icon:first-child{
    margin-left:8px;
}
.footer{
    margin-left: 24px;
}
.footer_email{
    font-size: 16px;
     margin-top: 16px;
}
.footer_tel{
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
}
.button{
    margin-top: 40px;
    margin-left:8px;
}
button{
    border:none;
    background-color: white;
    padding-left:16px;
}
.button_ru,button:hover{
    color:#7E7E82;
}

